.container {
  max-width: 960px;
  margin: 0 auto;
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "spumante";
  font-size: 30px;
  color:  #696969;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  font-family: "azote";
  color:  #696969;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
section.module.parallax h1 {
  color: #FFFFFF;
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("BA.jpeg");
}
section.module.parallax-2 {
  background-image: url("ring.jpeg");
}
section.module.parallax-3 {
  background-image: url("git.jpeg");
}

  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 60px;
  }
footer {
  font-size: 20px;
  font-family: serif;
  color:  #696969;
  font-family: "spumante";
}